.table_row {
  &:has(input[type='checkbox']:checked) {
    background-color: color-mix(in srgb, var(--secondary-color), transparent 60%);

    .table_cell {
      color: color-mix(in srgb, var(--text-color), black 10%);
    }
  }

  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);

  &>*:first-child {
    flex: 0 0 auto;
  }

  &>*:not(:first-child) {
    flex: 1;
  }

  &>* {
    flex: 1;
    padding: 0.75rem;
    text-align: left;
  }
}

input[type='checkbox'] {
  cursor: pointer;
}
