:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --reject-color: #ff4c3c;
  --background-color: #fafafa;
  --text-color-secondary: #fff;
  --text-color-primary: #333;
  --border-color: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}
